*
{
    margin: 0px;
    box-sizing: border-box;
}
#frame
{
    display: flex;
    overflow: hidden;
    border: 1px solid black;

}
#frame div
{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    margin: 50px;

}
form{
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}